Repository huynguyen2k/shopee-react: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn stylelint

feat: setup favicon icon
  README.md
  index.html
  public/favicon/android-chrome-192x192.png
  public/favicon/android-chrome-512x512.png
  public/favicon/apple-touch-icon.png
  public/favicon/favicon-16x16.png
  public/favicon/favicon-32x32.png
  public/favicon/favicon.ico
  public/favicon/site.webmanifest
  public/vite.svg
  src/app.tsx
  src/index.scss
Due: yarn lint, yarn stylelint

feat: setup sass folder structure
  .vscode/settings.json
  README.md
  package.json
  src/app.tsx
  src/components/button/index.tsx
  src/components/common/loading/index.tsx
  src/components/common/loading/styles.module.scss
  src/components/input/index.tsx
  src/configs/router.tsx
  src/main.tsx
  src/pages/not-found/index.tsx
  src/pages/not-found/styles.module.scss
  src/styles/abstracts/_breakpoints.scss
  src/styles/abstracts/_colors.scss
  src/styles/abstracts/_fonts.scss
  src/styles/abstracts/_functions.scss
  src/styles/abstracts/_index.scss
  src/styles/abstracts/_mixins.scss
  src/styles/abstracts/_variables.scss
  src/styles/main.scss
  vite.config.ts
  yarn.lock
Due: yarn lint, yarn stylelint

feat: setup auto prefixer for the project
  .postcssrc.json
  README.md
  package.json
  src/pages/not-found/index.tsx
  src/pages/not-found/styles.module.scss
  src/styles/abstracts/_breakpoints.scss
  src/styles/abstracts/_mixins.scss
  yarn.lock
Due: yarn lint, yarn stylelint

feat: setup router for the project
  src/configs/router.tsx
  src/configs/routes.ts
  src/pages/home/index.tsx
  src/pages/home/styles.module.scss
  src/pages/login/index.tsx
  src/pages/login/styles.module.scss
  src/pages/not-found/index.tsx
  src/pages/product-detail/index.tsx
  src/pages/product-detail/styles.module.scss
  src/pages/product-list/index.tsx
  src/pages/product-list/styles.module.scss
  src/pages/register/index.tsx
  src/pages/register/styles.module.scss
Due: yarn lint, yarn stylelint

feat: update react feature structure
  README.md
  src/configs/routes.ts
  src/features/index.ts
  src/hooks/index.ts
  src/services/index.ts
Due: yarn lint

feat: building getUrlWithQueryAndHash function
  package.json
  src/utils/getUrlWithQueryAndHash/index.test.ts
  src/utils/getUrlWithQueryAndHash/index.ts
  src/utils/sum/index.tsx
  src/utils/sum/sum.test.tsx
  yarn.lock
Due: yarn lint

feat: building responsive component
  .eslintrc.cjs
  .vscode/settings.json
  package.json
  src/app.tsx
  src/components/grid/components/row.tsx
  src/components/grid/index.ts
  src/components/grid/styles.module.scss
  src/components/grid/types.ts
  src/components/loading/index.tsx
  src/components/loading/styles.module.scss
  src/components/responsive/index.ts
  src/components/responsive/responsive.config.ts
  src/components/responsive/responsive.context.tsx
  src/components/responsive/responsive.helper.ts
  src/components/responsive/responsive.hook.ts
  src/components/responsive/responsive.tsx
  src/components/responsive/responsive.type.ts
  src/main.tsx
  src/pages/home/index.tsx
  src/utils/get-url-with-query-and-hash/index.ts
  yarn.lock
Due: yarn lint, yarn stylelint

feat: building pagination component
  .eslintrc.cjs
  package.json
  src/assets/icons/first-page.svg
  src/assets/icons/last-page.svg
  src/assets/icons/next.svg
  src/assets/icons/previous.svg
  src/components/pagination/index.ts
  src/components/pagination/pagination.helper.ts
  src/components/pagination/pagination.hook.ts
  src/components/pagination/pagination.module.scss
  src/components/pagination/pagination.tsx
  src/components/pagination/pagination.type.ts
  src/components/responsive/responsive.hook.ts
  src/hooks/index.ts
  src/hooks/use-search-params.ts
  src/pages/home/index.tsx
  src/pages/home/styles.module.scss
  src/styles/abstracts/_colors.scss
  src/styles/abstracts/_mixins.scss
  src/types/common.ts
  src/utils/get-url-with-query-and-hash/index.ts
  src/vite-env.d.ts
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: yarn lint, yarn stylelint

feat: setup react helmet async
  README.md
  src/app.tsx
  src/hooks/index.ts
Due: yarn lint

feat: test
  src/app.tsx
Due: yarn lint

feat: building drag and drop component
  package.json
  src/components/sortable-list/components/item/action/index.tsx
  src/components/sortable-list/components/item/action/styles.module.scss
  src/components/sortable-list/components/item/handle/index.tsx
  src/components/sortable-list/components/item/index.tsx
  src/components/sortable-list/components/item/remove/index.tsx
  src/components/sortable-list/components/item/styles.module.scss
  src/components/sortable-list/components/list/index.tsx
  src/components/sortable-list/components/list/styles.module.scss
  src/components/sortable-list/components/sortable-item/index.tsx
  src/components/sortable-list/index.tsx
  src/components/sortable-list/styles.module.scss
  src/components/temp/draggable-list/index.tsx
  src/components/temp/draggable-list/styles.module.scss
  src/components/temp/sortable/index.tsx
  src/components/temp/sortable/styles.module.scss
  src/components/test/components/item/components/action/index.tsx
  src/components/test/components/item/components/action/styles.module.scss
  src/components/test/components/item/components/handle/index.tsx
  src/components/test/components/item/components/remove/index.tsx
  src/components/test/components/item/index.tsx
  src/components/test/components/item/styles.module.scss
  src/components/test/components/list/index.tsx
  src/components/test/components/list/styles.module.scss
  src/components/test/components/wrapper/index.tsx
  src/components/test/components/wrapper/styles.module.scss
  src/components/test/sortable.tsx
  src/pages/home/index.tsx
  src/pages/home/styles.module.scss
  yarn.lock
Due: yarn lint, yarn stylelint

feat: building useWindowScroll hook
  src/hooks/use-window-scroll.ts
Due: yarn lint

feat: adding some mixins in scss
  src/styles/abstracts/_mixins.scss
Due: yarn stylelint

feat: implement auth feature
  .eslintrc.cjs
  src/components/grid/components/row.tsx
  src/features/auth/components/blog-list/index.tsx
  src/features/auth/components/blog-list/styles.module.scss
  src/features/auth/components/comment-list/index.tsx
  src/features/auth/components/comment-list/styles.module.scss
  src/features/auth/components/require-auth/index.tsx
  src/features/auth/configs/permissions.ts
  src/features/auth/configs/policies.ts
  src/features/auth/configs/refresh-token.ts
  src/features/auth/mocks/data.ts
  src/features/auth/types/index.ts
  src/features/auth/utils/has-permission.ts
  src/features/index.ts
  src/pages/home/index.tsx
  tsconfig.json
Due: yarn lint, yarn stylelint

chore: enable dev source map for css
  vite.config.ts
Due: yarn lint

chore: config stylelint order for css properties
  .stylelintignore
  .stylelintrc.json
  package.json
  src/app.tsx
  src/components/grid/components/row.tsx
  src/components/pagination/pagination.module.scss
  src/configs/router.tsx
  src/features/auth/components/blog-list/styles.module.scss
  src/features/auth/components/comment-list/styles.module.scss
  src/features/auth/components/require-auth/index.tsx
  src/hooks/use-search-params.ts
  src/main.tsx
  src/pages/home/styles.module.scss
  src/styles/abstracts/_mixins.scss
  src/styles/main.scss
  yarn.lock
Due: yarn lint, yarn stylelint

chore: update style for the project
  package.json
  src/components/pagination/pagination.module.scss
  src/features/auth/components/blog-list/styles.module.scss
  src/features/auth/components/comment-list/styles.module.scss
  src/main.tsx
  src/pages/home/index.tsx
  src/pages/home/styles.module.scss
  src/pages/not-found/styles.module.scss
  src/styles/abstracts/_animations.scss
  src/styles/abstracts/_breakpoints.scss
  src/styles/abstracts/_fonts.scss
  src/styles/abstracts/_functions.scss
  src/styles/abstracts/_index.scss
  src/styles/abstracts/_mixins.scss
  src/styles/abstracts/_variables.scss
  src/styles/base/_global.scss
  src/styles/base/_index.scss
  src/styles/base/_reset.scss
  src/styles/base/_root.scss
  src/styles/main.scss
  yarn.lock
Due: yarn lint, yarn stylelint

refactor: pagination and responsive component
  src/components/pagination/hooks.ts
  src/components/pagination/index.ts
  src/components/pagination/pagination.tsx
  src/components/pagination/types.ts
  src/components/pagination/utils.ts
  src/components/responsive/configs.ts
  src/components/responsive/contexts.tsx
  src/components/responsive/hooks.ts
  src/components/responsive/index.ts
  src/components/responsive/responsive.config.ts
  src/components/responsive/responsive.hook.ts
  src/components/responsive/responsive.tsx
  src/components/responsive/types.ts
  src/components/responsive/utils.ts
Due: yarn lint

feat: building useTheme hook
  src/components/loading/styles.module.scss
  src/hooks/use-theme.ts
  src/main.tsx
  src/pages/home/index.tsx
  src/pages/home/styles.module.scss
  src/pages/not-found/styles.module.scss
  src/styles/abstracts/_colors.scss
  src/styles/base/_global.scss
  src/styles/base/_index.scss
  src/styles/base/_root.scss
  src/styles/base/_theme.scss
Due: yarn lint, yarn stylelint

feat: update pagination component
  src/components/pagination/hooks.ts
  src/components/pagination/pagination.tsx
  src/components/pagination/types.ts
  src/hooks/use-controlled-value.ts
Due: yarn lint

ci: update node version for github action
  .github/workflows/ci.yml
Due: none

chore: config eslint to constrain imports
  .eslintrc.cjs
  index.html
  package.json
  src/app/app.tsx
  src/app/main.tsx
  src/app/router.tsx
  src/features/product/components/product-list/index.tsx
  src/services/index.ts
  yarn.lock
Due: yarn lint

feat: building grid component
  .eslintignore
  .eslintrc.cjs
  src/app/app.tsx
  src/app/router.tsx
  src/components/grid/col.tsx
  src/components/grid/components/row.tsx
  src/components/grid/contexts.tsx
  src/components/grid/hooks.ts
  src/components/grid/index.ts
  src/components/grid/row.tsx
  src/components/grid/styles.module.scss
  src/components/grid/types.ts
  src/components/responsive/configs.ts
  src/components/responsive/contexts.tsx
  src/components/responsive/hooks.ts
  src/components/responsive/index.ts
  src/components/responsive/types.ts
  src/components/responsive/utils.ts
  src/pages/home/index.tsx
Due: yarn lint, yarn stylelint

feat: building button component
  src/components/button/index.tsx
  src/components/button/styles.module.scss
  src/pages/home/index.tsx
Due: yarn lint, yarn stylelint

Path conditions:
  yarn lint: any of: **/*.{js,jsx,ts,tsx}
  yarn stylelint: any of: **/*.{css,scss}
